{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="dark:tw-bg-gray-900">
	{%include 'partials/navbar.html'%}
	<div class="tw-flex tw-justify-center tw-mx-auto tw-max-w-4xl tw-h-screen">
		<section>
			<span class="tw-flex tw-justify-center">
				<a href="{%url 'login'%}"><i class="tw-mt-12 tw-px-4 tw-py-3 tw-rounded-lg fa-solid fa-arrow-left"></i></a>
			</span>
			<div class="tw-pt-16">
				<form method="POST">{% csrf_token %}
					<h1 class="tw-mb-5 tw-font-semibold tw-text-center dark:tw-text-gray-200">Reset Password</h1>
					
					<p class="tw-pb-4 tw-pt-8 tw-flex tw-justify-center"><input name="email" class="tw-rounded-md" placeholder="Email address" type="email" id="id_email" required="true"></p>
					<p class="tw-flex tw-justify-center"><input class="tw-px-2 tw-py-1 tw-border-2 tw-border-transparent tw-rounded-md tw-bg-blue-600 tw-text-white" type="submit" value="Submit"></p>
							  
				</form>
			</div>
		</section>
	</div>
	{%include 'partials/footnote.html'%}
</div>

{{redirect_to_login_immediately}}
{%endblock%}