{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="h-screen  max-w-4xl border-x-2 border-gray-300 flex justify-center mx-auto">
    <section>
        <div class="flex justify-center pt-20">
            <a href="{% url 'settings' %}" class="text-sm sm:text-lg mx-2 md:mx-6 p-2 sm:p-3"><i class="border-gray-200 border-2 px-4 py-3 rounded-lg fa-solid fa-arrow-left"></i></a>
        </div>
        <div class="pt-20">
            <form method="POST" class="flex justify-center mx-auto">{% csrf_token %}
                <div class="space-y-4 md:pt-20 pt-12">
                    <h1 class="text-center font-semibold">Change Password</h1>
                    <p><input name="old_password" class="rounded-lg" placeholder="Old password" type="password" id="id_old_password" required="true"></p>
                    <p><input name="new_password1" class="rounded-lg" placeholder="New password" type="password" id="id_new_password1" required="true"></p>
                    <p><input name="new_password2" class="rounded-lg" placeholder="Confirm password" type="password" id="id_new_password2" required="true"></p>
            
                    {% for field in form %}
                    {% for error in field.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                
                    <button class="px-2 py-1 border-2 rounded-lg focus:border-blue-500 bg-blue-500 text-white" type="submit">Update</button>
                </div>
                
            </form>
        </div>
    </section>

</div>


{%include 'partials/footnote.html'%}
{%endblock%}